@use '../../scss/mixins';
@use '../../scss/variables/colors';

.MainNav {
	--bg: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	height: 8vh;
	z-index: 5;
	background-color: var(--bg);
	border-bottom: 2px solid var(--primary);

	a {
		color: var(--primary);
	}

	&__logoLink {
		white-space: nowrap;
		display: flex;
		align-items: center;
		gap: 15px;
		flex-wrap: nowrap;
		@include mixins.mq('to', 360) {
			h1 {
				display: none;
			}
		}
	}

	&__Logo {
		padding: 0 30px;

		img {
			width: 80px;
		}
	}

	> ul {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		list-style-type: none;
		padding-right: 30px;

		@include mixins.mq('from', 992) {
			gap: 15px;
		}
		@include mixins.mq('to', 992) {
			position: absolute;
			top: 8vh;
			right: 0;
			height: auto;
			margin: 0;
			background-color: var(--primary);
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			width: 50%;
			transform: translateX(100%);
			transition: transform 0.6s ease-in;
			padding: 0;
		}

		@include mixins.mq('to', 550) {
			width: 100%;
			height: auto;
		}

		li {
			@include mixins.mq('to', 992) {
				width: 100%;
			}
			@include mixins.mq('from', 992) {
				display: flex;
				align-items: center;
			}
		}

		a {
			padding: 28px 10px;
			position: relative;
			text-decoration: none;
			@include mixins.mq('fromto', 992, 1200) {
				font-size: 13px;
			}
			@include mixins.mq('to', 992) {
				color: white;
			}

			&::before {
				content: '';
				position: absolute;
				width: 100%;
				height: 2px;
				background-color: var(--primary);
				left: 0;
				bottom: 20px;
				transform: scaleX(0);
				transition: transform 0.3s ease;
				@include mixins.mq('to', 992) {
					background-color: white;
				}
			}

			&:hover {
				&::before {
					transform: scaleX(1);
				}
			}
			@include mixins.mq('to', 992) {
				display: block;
				text-align: center;
				// &::before {
				// 	display: none;
				// }
			}
		}
	}

	&__Dropdown {
		position: relative;
		div {
			display: flex;
			flex-direction: column;
			background-color: green;
			z-index: 15;
			width: 100%;
			text-align: center;

			@include mixins.mq(from, '992') {
				position: absolute;
				box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
				visibility: hidden;
				transform: translateX(-30%);
				min-width: 250px;
				width: 100%;
				top: 56px;
			}
			@include mixins.mq(to, '992') {
				transform: translateX(0%);
			}
		}

		&:hover {
			div {
				visibility: visible;
				@include mixins.mq('to', 992) {
					display: flex;
				}
			}
		}
	}

	&__Hamburger {
		display: none;

		@include mixins.mq('to', 992) {
			display: flex;
			flex-direction: column;
			gap: 5px;
			cursor: pointer;
			width: 50px;
			background-color: transparent;
			border: 0;
			margin-right: 20px;
		}
		span {
			display: inline-block;
			background-color: var(--primary);
			width: 25px;
			height: 3px;
			transition: transform 0.4s;
		}
	}
}

.MainNav__Hamburger.MainNav__IsOpen {
	span {
		&:first-child {
			transform: matrix(1, 1, -1, 1, 0, 10);
		}
		&:nth-child(2) {
			visibility: hidden;
		}
		&:last-child {
			transform: matrix(1, -1, 1, 1, 0, -6);
		}
	}
}

.MainNav .MainNav__IsOpen {
	transform: translateX(0);
	li {
		@include mixins.mq('to', 992) {
			opacity: 0;
			animation: navLinksFade 0.5s forwards var(--time);
		}
	}
}

@keyframes navLinksFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.Switches {
	display: flex;
	gap: 10px;
	@include mixins.mq('to', 992) {
		justify-content: space-around;
	}
	> div {
		width: 50px;
		display: inline-block;
		cursor: pointer;

		&:hover {
			// background-color: red;
			svg g path {
				fill: red;
			}
		}
	}

	> button {
		border: none;
		width: 50px;
		height: 50px;
		border-radius: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.MainNav__Button__Dark {
	background: #292929;
	box-shadow: 7px 7px 14px #1c1c1c, -7px -7px 14px #363636;

	&:active {
		background: linear-gradient(145deg, #252525, #2c2c2c);
	}
}

.MainNav__Button__Light {
	background: #ffffff;
	box-shadow: 7px 7px 14px #b0b0b0, -7px -7px 14px #ffffff;

	&:active {
		background: linear-gradient(145deg, #e6e6e6, #ffffff);
	}
}

.MainNav__Button__Light,
.MainNav__Button__Dark {
	@include mixins.mq('to', 992) {
		background: #00528d;
		box-shadow: -7px -7px 14px #003961, 7px 7px 14px #006bb9;

		&:active {
			background: linear-gradient(315deg, #004a7f, #005897);
		}
	}
}
