@use './mixins';

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
        flex-grow: 1;
    }
}

.container {
    max-width: 1500px;
    padding: 0 15px;
    margin: auto;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );


    @include mixins.mq('to', 360) {
        grid-template-columns: auto;
    }
}



main {
    margin-top: 8vh;
}


// test test