/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgba(var(--primary), 0.8);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--primary);
    border-radius: 4px;
    border: 1px solid #ffffff88;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(var(--primary), 0.5);
  }
  